/* CONTÉUDO PRINCIPAL */

/* main */
main{}
    /* banner */
    .banner{
        background-image: url(./../img/Banner.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 130px;
    }
    .banner__container{
        padding: 10px 0px;
    }
    .banner__Introducao{
        color: #fff;
        font-family: var(--font-titulos);
        font-size: 2.5rem;
        width: 280px;
        margin:0 auto;
        position: relative;
        text-align: center;
    }
    .banner__Introducao::after{
        content: "";
        position: absolute;
        width: 50%;
        height: 3px;
        background-color: #fff;
        bottom: -10px;
        left: 69px;
    }
    .box-botao{
        text-align: center;
    }
    .banner__botao{
        border: 1px solid transparent;
        border-radius: 6px;
        background-color: var(--cor-vermelho-claro);
        color: #fff;
        font-family: var(--font-textos);
        font-weight: bold;
        font-size: 1rem;
        padding: 5px 10px;
        margin-top: 25px;
    }
    .banner__ico{
        display: none;
    }
    /* banner */


    /* Cardápio */
    .secaoCardapio{
        margin: 10px 0px;
    }
    .secaoCadapio__titulo{
        display: flex;
        justify-content: center;
    }
    .secaoCadapio__titulo::after{
        content: "";
        height: 3px;
        width: 35px;
        background-color: var(--cor-vermelho-escuro);
        position: absolute;
        bottom: -5px;

    }
    .titulo{
        position: relative;
        text-align: center;
        font-size: 2.5rem;
        font-family: var(--font-titulos);
        color: var(--cor-vermelho-escuro);
    }
    .secaoCardaío__box--lista{
        margin-top: 10px;
        padding: 10px 15px;
    }
    .secaoCardapio__lista{
        display: flex;
        overflow-x: scroll;
        padding-bottom: 20px;
    }
    .secaoCardapio__lista::-webkit-scrollbar{
        width: 30px;
        height: 3px;
        background-color: #d6d6d6;
    }
    .secaoCardapio__lista::-webkit-scrollbar-thumb{
        background-color: #000;
        border-radius: 6px;
    }
    .secaoCardapio__lista li{
        margin-right: 10px;
    }
    .secaoCardapio__lista li .Box__imagem--pedido{
        width: 150px;
        height: 100px;
        margin: 0 auto;
    }
    .Box__imagem--pedido img{
        width: 100%;
        height: 100%;
    }
    .secaoCardapio__lista li .titulo--item{
        color: var(--cor-vermelho-escuro);
        text-align: center;
        font-size: 2rem;
        font-family: var(--font-titulos);
        margin: 5px;
        position: relative;
    }
    .titulo--item::after{
        content: "";
        width: 30px;
        height: 3px;
        background-color: var(--cor-vermelho-escuro);
        position: absolute;
        bottom: -3px;
        left: 60px;
    }
    .secaoCardapio__lista li p{
        margin-top: 10px;
        font-size: 1.1rem;
        text-align: center;
        color: var(--cor-vermelho-escuro);
        font-family: var(--font-textos);
    }
    /* Cardápio */
    
    
    /* Sobre nós */
    .secaoSobre{
        display: flex;
        flex-direction: column;
        background-color: var(--cor-bege);
        padding: 15px;
    }
    .secaoSobre__texto{}
    .secaoSobre__titulo{
        display: flex;
        justify-content: center;
    }
    .secaoSobre__titulo::after{
        content: "";
        width: 30px;
        height: 3px;
        background-color: var(--cor-vermelho-escuro);
        position: absolute;
        bottom: -3px;

    }
    .secaoSobre__texto p{
        width: 255px;
        margin: 10px auto;
        font-size: 1.2rem;
        color: var(--cor-vermelho-escuro);
        font-family: var(--font-textos);
    }
    .boxImagem--secaoSobre{
        width: 250px;
        height: 150px;
        margin: 5px auto;
    }
    .boxImagem--secaoSobre img{
        width: 100%;
        height: 100%;
    }
    /* Sobre nós */


    /* Contatos */
    .secaoContatos{
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
    }
    .redes{}
    .secaoContatos__titulo{
        display: flex;
        justify-content: center;
    }
    .secaoContatos__titulo::after{
        content: "";
        height: 3px;
        width: 30px;
        background-color: var(--cor-vermelho-escuro);
        position: absolute;
        bottom: -3px;
        right: 122px;
    }
    .endereco--contatos{
        margin: 10px;
    }
    .endereco--contatos ul{
        display: flex;
        flex-direction: column;
    }
    .endereco--contatos ul li{
        margin: 5px 10px;
        display: flex;
        align-items: center
    }
    .endereco--contatos ul li .ico{
        margin-right: 10px;
    }
    .ico img{}
    .endereco--contatos ul li span{
        font-size: 1.2rem;
        color: var(--cor-vermelho-escuro);
    }
    .endereco--contatos ul li p{
        font-size: 2rem;
        width: 100%;
        text-align: center;
        color: var(--cor-vermelho-escuro);
        font-weight: bold;
    }
    .googleMaps{}
    .googleMaps__Mapa{
        text-align: center;
    }
    .googleMaps__Mapa img{}
    .googleMapas__link{
        text-align: center;
    }
    .googleMapas__link a{
        color: var(--cor-vermelho-claro);
    }
    /* Contatos */
/*  */