:root{
    font-size: 8px;
    --cor-vermelho-escuro:#610A0B;;
    --cor-vermelho-claro:#B82B15;
    --cor-bege:#F2E7CE;
    --font-titulos:'Montserrat',serif;
    --font-textos:'Readex Pro', sans-serif;
}